@font-face {
    font-family: Hylia;
    src: url(fonts/HyliaSerifBeta-Regular.otf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: OpenSans;
    font-weight: 400;
    color: #1cf5fd;
    background-color: #2b2d30;
    background-image: url(images/sheikahSlateBlank.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

button, input {
    background-color: #2b2d30;
    border: #1cf5fd 1px solid;
    color: #1cf5fd;
    font-size: 1rem;
}

a, a:visited {
    color: #1cf5fd;
}

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setupScreen {
    height: 100%;
    width: 70vh;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.playerNameInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.playerDisplay, .resultsDisplay {
    height: auto;
    width: 60vh;
    place-self: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerDisplay {
    justify-content: center;
}

.resultsDisplay {
    justify-content: flex-end;
}

.homeButton, .resetButton {
    align-items: stretch;
}

.winnerBanner {
    flex-grow: 1;
    display: inherit;
    align-items: inherit;
    justify-content: center;
}

.matchGrid {
    /* height: 60vh; */
    width: 60vh;
    aspect-ratio: 1 /1 ;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    border-width: 2px;
    border-style: solid;
    font-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Hylia;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.252);
}